/*----------------------------------------------
*
* [Main Stylesheet]
*

* Author   : DINESH M
* Support  : dnshko@gmail.com
* 
----------------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');

/*----------------------------------------------

[ALL CONTENTS]

1. Reset
2. General 
3. Section 
4. Helper Class
5. Header
6. Slider
7. Feature
8. Form and Field
9. List
10. Gallery
11. Footer
12. Modal
13. Miscellaneous
14. Keyframe
15. All Media Queries

----------------------------------------------*/

/*----------------------------------------------
1. Reset
HTML5 display-role reset for older browsers
----------------------------------------------*/

/* #region Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: var(--primary-font);
    color: var(--primary-p-color);
    background-color: var(--primary-bg-color);
}

body.odd {
    background-color: var(--secondary-bg-color);
}

ol, ul {
    padding-left: 20px;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

ul ul {
    list-style: circle;
}

blockquote, q {
    margin-bottom: 1.5rem;
    quotes: none;
    quotes: none;
    font-style: italic;
    padding: 1rem 1.5rem;
    border-left: 5px solid var(--primary-bg-color-3);
}

.odd blockquote, q {
    border-left: 5px solid var(--secondary-bg-color-3);
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

blockquote p, q p {
    margin: 0;
}

figure {
    margin-bottom: 1.5rem;
}

figcaption {
    margin-bottom: 1.5rem;
    font-style: italic;
    padding: 1rem 1.5rem;
    border-left: 5px solid var(--primary-bg-color-3);
}

.odd figcaption {
    border-left: 5px solid var(--secondary-bg-color-3);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* #endregion Reset */

/*----------------------------------------------
2. General
----------------------------------------------*/

/* #region General */

::selection {
    background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:not(.btn), a:link:not(.btn), a:visited:not(.btn), a:hover:not(.btn), a:active:not(.btn) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
    text-decoration: none;
}

a:not([href]),
a:not([href]):hover,
a:not([href]) i,
a:not([href]) i:hover {
    color: var(--primary-b-color);
}

p {
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.odd p {
    color: var(--secondary-p-color);
}

h1 {
    margin-bottom: 1.5rem;
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: var(--h1-line-height);
    font-family: var(--h1-font);
    color: var(--primary-color);
}

h2 {
    margin: 1.5rem 0;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: var(--primary-font);
    color: var(--primary-t-color);
}

h2.featured:before {
    content: '';
    position: absolute;
    top: -22px;
    left: 15px;
    width: 50px;
    height: 5px;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
}

h2.featured.alt:before {
    left: 0;
}

.odd h2 {
    color: var(--white-color);
}

h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: var(--primary-font);
    color: var(--primary-t-color);
}

h4 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: var(--primary-font);
    color: var(--primary-t-color);
}

.odd h4 {
    color: var(--secondary-t-color);
}

h5 {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: var(--primary-font);
    color: var(--primary-t-color);
}

h6 {
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: var(--primary-font);
    color: var(--primary-t-color);
}

b, strong {
    font-weight: 700;
}

li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

::placeholder {
    color: var(--primary-t-color);
    opacity: 0.5;
}

form {
    width: 100%;
}

form label {
    width: 100%;
}

input, textarea, select {
    width: 100%;
    height: 43.48px;
    background: no-repeat;
    box-shadow: none;
    padding: 0.7rem 1rem;
    border-color: var(--primary-l-color);
    border-width: 1px;
    border-radius: 2px;
}

input:focus, textarea:focus, select:focus {
    background: no-repeat;
    color: inherit;
    outline: none;
    border-color: inherit;
    box-shadow: none;
}

input {
    border-color: var(--primary-l-color);
    color: var(--primary-t-color);
}

input:focus {
    border-color: var(--primary-t-color);
    color: var(--primary-t-color);
}

input[type="submit"] {
    border: 1px solid;
    padding: 2.5px 10px;
    display: block;
    width: fit-content;
    max-width: 200px;
    text-align: center;
    color: var(--primary-color);
}

input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--primary-b-color);
    border-color: var(--primary-color);
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

textarea {
    height: 100px;
    resize: none;
    border-color: var(--primary-l-color);
    color: var(--primary-t-color);
}

textarea:focus {
    border-color: var(--primary-t-color);
    color: var(--primary-t-color);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    line-height: 1.2;
    border-color: var(--primary-l-color);
    color: var(--primary-t-color);
}

select:focus {
    border-color: var(--primary-t-color);
    color: var(--primary-t-color);
}

select option {
    color: #2f323a;
}

hr {
    margin: 35px 15px;
    border-top: 1px dashed var(--primary-l-color);
}

.odd hr {
    margin: 35px 15px;
    border-top: 1px dashed var(--secondary-l-color);
}

table {
    width: 100%;
}

tr:not(:last-child) {
    border-bottom: 1px solid;
    border-color: var(--primary-l-color);
}

.odd tr:not(:last-child) {
    border-bottom: 1px solid;
    border-color: var(--secondary-l-color);
}

td {
    padding: 10px 0;
}

/* #endregion General */

/*----------------------------------------------
3. Section
----------------------------------------------*/

/* #region Section */

section {
    width: 100%;
    padding: 130px 0;
}

section:nth-child(1) {
    background-color: var(--section-1-bg-color);
}

section:nth-child(2) {
    background-color: var(--section-2-bg-color);
}

section:nth-child(3) {
    background-color: var(--section-3-bg-color);
}

section:nth-child(4) {
    background-color: var(--section-4-bg-color);
}

section:nth-child(5) {
    background-color: var(--section-5-bg-color);
}

section:nth-child(6) {
    background-color: var(--section-6-bg-color);
}

section:nth-child(7) {
    background-color: var(--section-7-bg-color);
}

section:nth-child(8) {
    background-color: var(--section-8-bg-color);
}

section:nth-child(9) {
    background-color: var(--section-9-bg-color);
}

section:nth-child(10) {
    background-color: var(--section-10-bg-color);
}

section:nth-child(11) {
    background-color: var(--section-11-bg-color);
}

section:nth-child(12) {
    background-color: var(--section-12-bg-color);
}

section:nth-child(13) {
    background-color: var(--section-13-bg-color);
}

section:nth-child(14) {
    background-color: var(--section-14-bg-color);
}

footer section:nth-child(1) {
    background-color: var(--footer-1-bg-color);
}

footer section:nth-child(2) {
    background-color: var(--footer-2-bg-color);
}

section.bg-image-1 {
    position: relative;
    background-image: var(--bg-image-1);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section.bg-image-2 {
    position: relative;
    background-image: var(--bg-image-2);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.featured {
    position: relative;
}

section.featured:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: 50%;
    left: calc(50% - 2.5px);
    width: 5px;
    height: 100px;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
}

section.featured.right:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-l-color);
}

section.odd.featured.right:before {
    border-bottom: 1px dashed var(--secondary-l-color);
}

section.featured.left:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 50%;
    border-bottom: 1px dashed var(--primary-l-color);
}

section.odd.featured.left:before {
    border-bottom: 1px dashed var(--secondary-l-color);
}

section.featured.all:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px dashed var(--primary-l-color);
}

section.odd.featured.all:before {
    border-bottom: 1px dashed var(--secondary-l-color);
}

main {
    padding: 0;
}

aside {
    padding: 0;
}

.container {
    padding: 0;
    max-width: 1170px;
}

.container.header {
    max-width: 1140px;
}

.container.full {
    max-width: 100%;
}

.container.smaller {
    max-width: 970px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.vh-100 {
    height: 100vh;
}

.vh-75 {
    height: 75vh;
}

/* #endregion Section */

/*----------------------------------------------
4. Helper Class
----------------------------------------------*/

/* #region Helper Class */

.intro {
    margin-bottom: 50px;
}

.intro h1:first-child, .intro h2:first-child, .intro h3:first-child {
    margin-top: 0;
}

.content .gallery {
    margin: 35px 0;
}

.blog-listing .items {
    margin-bottom: 30px;
}

.blog-listing .items .item {
    margin-bottom: 30px;
}

.blog-grid .items {
    margin-bottom: 30px;
}

.blog-grid .items .item {
    margin-bottom: 30px;
}

.sidebar .item {
    margin-bottom: 35px;
}

.sidebar ol,
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ol ol, .sidebar ul ul {
    padding: 15px;
}

.sidebar ul li a:not(.btn) {
    color: inherit;
}

.sidebar ul li a:not(.btn):hover {
    color: var(--primary-color);
}

.list-group .list-group-item .icon {
    color: var(--primary-color);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlights .items .item {
    margin-bottom: 35px;
}

.highlights .items .item:last-child {
    margin-bottom: 0;
}

.highlights .items .item .icon {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offers .items .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.offers .items .item .icon {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offers.secondary .items .item h4 {
    margin-top: 0;
}

.plans .items .item .icon {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plans .items .item .btn {
    margin-top: 25px;
}

.plans .items .item .card:hover .btn {
    background: none;
    border: 1px solid var(--secondary-l-color);
}

.plans .items .item .card:hover .btn:after, .plans .items .item .card:hover .btn:before {
    content: none;
}

.plans .items .item .card:hover * {
    border-color: var(--secondary-l-color);
}

.price {
    margin-bottom: 25px;
    font-size: 42px;
    font-weight: 600;
    border: 1px solid var(--primary-l-color);
    border-radius: 100px;
    color: var(--primary-color);
}

.odd .price {
    border-color: var(--secondary-l-color);
}

.price i {
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
}

.odd.logos img {
    filter: invert(1);
}

.showcase.portfolio .card .image-over:before {
    background-color: transparent;
}

.showcase.portfolio .card .card-caption {
    opacity: 0;
}

.showcase.portfolio .card:hover .card-caption {
    opacity: 1;
}

.showcase .card {
    height: auto;
    background-color: transparent;
}

.showcase .card .image-over {
    overflow: hidden;
}

.showcase .card .image-over:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.showcase .card .image-over img {
    position: relative;
    z-index: -1;
    height: auto;
}

.showcase .card-caption {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.showcase .card-caption *, .showcase .card-caption *:not(.btn) {
    color: #f5f5f5;
}

.showcase .card-footer {
    border-color: rgba(255, 255, 255, 0.25);
}

.showcase .card:hover .image-over img {
    transform: none;
}

.showcase .card:hover .image-over:before {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    opacity: 0.75;
}

.showcase .card:hover .image-over img {
    filter: blur(3px);
}

.subscription .items .item {
    padding: 0 10px;
}

.form .message {
    position: absolute;
    top: 0;
    left: 15px;
    width: 100%;
    height: 100%;
    padding: 35px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(5px);
    text-align: center;
    transform: scale(0);
    background-color: var(--card-bg-color);
    transition-timing-function: ease;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
}

.form .message .icon {
    margin: auto;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form .message h3 {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form .message.active {
    transform: scale(1);
    filter: blur(0);
}

/* #endregion Helper Class */

/*----------------------------------------------
5. Header
----------------------------------------------*/

/* #region Header */

header {
    position: relative;
    z-index: 5;
}

header .navbar-expand {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 20px 25px;
}

header .navbar-expand.relative {
    position: relative;
}

header .navbar-sticky {
    top: 0;
    background-color: var(--header-bg-color);
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

header .navbar-expand .navbar-nav.toggle {
    display: none;
}

header .navbar-expand .navbar-nav.toggle i {
    font-size: 20px;
}

header .navbar-expand .navbar-brand {
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 0;
    color: var(--nav-item-color);
}

header .navbar-expand .navbar-brand i {
    font-style: initial;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--primary-color);
}

header .navbar-expand .navbar-brand img {
    max-height: 35px;
}

.navbar-expand .navbar-nav .nav-item a:not(.btn) {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.navbar-expand .navbar-nav .nav-link:not(.btn) {
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--nav-item-color);
}

.navbar-expand .navbar-nav .nav-link:not(.btn):not(.title):hover {
    color: var(--primary-color);
}

.navbar-expand .navbar-nav .nav-link.active:not(.btn):not(.title) {
    color: var(--primary-color);
}

.navbar-expand .navbar-nav .dropdown-menu .nav-link:not(.btn) {
    padding: 0.35rem 1.25rem;
    font-weight: 400;
    color: var(--primary-p-color);
}

.odd .navbar-expand .navbar-nav .dropdown-menu .nav-link:not(.btn) {
    color: var(--secondary-p-color);
}

.navbar-expand .navbar-nav .dropdown-menu .nav-link.title {
    font-weight: 600;
    color: var(--primary-t-color);
    opacity: 0.8;
}

.navbar-expand .navbar-nav .dropdown-menu .nav-link:not(.btn):not(.title):hover {
    color: var(--primary-color);
}

.navbar-nav i.icon-arrow-down {
    position: relative;
    top: 1.5px;
    margin: 0 0 0 0.3rem;
    font-size: 12px;
    font-weight: 600;
}

.navbar-expand .icons i {
    font-weight: 400;
}

.dropdown .dropdown-menu {
    background-color: var(--primary-bg-color-2);
    min-width: max-content;
    display: block;
    visibility: hidden;
    opacity: 0;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.odd .dropdown .dropdown-menu {
    background-color: var(--secondary-bg-color-2);
}

.dropdown:hover > .dropdown-menu {
    visibility: unset;
    opacity: 1;
    margin: 0;
    transition-timing-function: ease;
    transition-duration: .4s;
    transition-property: opacity, transform;
}

.dropdown-item.active, .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
    box-shadow: none;
    outline: none;
}

.menu .items {
    margin-left: -5px;
    width: calc(100% + 10px);
}

.menu .navbar-nav {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
}

.menu .dropdown .dropdown-menu {
    min-width: 100%;
    visibility: visible;
    opacity: 1;
    background: none;
    box-shadow: none;
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu .dropdown .dropdown-menu .left,
.menu .dropdown .dropdown-menu .right {
    width: 50%;
}

.menu .nav-link:not(.btn) {
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--primary-l-color);
    color: var(--primary-p-color);
    display: inline-block;
    width: calc(100% - 12px);
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.odd .menu .nav-link:not(.btn) {
    border: 1px solid var(--secondary-l-color);
    color: var(--secondary-p-color);
}

.menu .nav-link:not(.btn):hover {
    color: var(--primary-color);
}

.menu .dropdown .dropdown-menu .nav-link.title {
    font-weight: 600;
    color: var(--primary-t-color);
    border: none;
    opacity: 0.8;
}

.odd .menu .dropdown .dropdown-menu .nav-link.title {
    color: var(--secondary-t-color);
}

.menu .dropdown .dropdown-menu .nav-link {
    font-size: 1rem;
    font-weight: 400;
    background: none;
    border: 1px solid var(--primary-l-color);
    color: var(--primary-p-color);
    display: inline-block;
    width: calc(100% - 12px);
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.odd .menu .dropdown .dropdown-menu .nav-link {
    border: 1px solid var(--secondary-l-color);
}

.menu .dropdown .dropdown-menu .nav-link:hover {
    color: var(--primary-color);
}

.menu .dropdown:first-child {
    margin-top: 0;
}

.menu .dropdown {
    margin-top: 1rem;
}

.menu .dropdown>.nav-link:first-child {
    font-weight: 600;
    border: none;
    color: var(--primary-t-color);
}

.odd .menu .dropdown>.nav-link:first-child {
    color: var(--secondary-t-color);
}

/* #endregion Header */

/*----------------------------------------------
6. Slider
----------------------------------------------*/

/* #region Slider */

.slider-h-auto {
    width: 100%;
    height: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
}

.slider-h-auto .swiper-wrapper,
.slider-h-auto .swiper-slide {
    min-height: 75vh;
}

.slider-h-auto.no-slider .inner {
    top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.slider-h-100 {
    width: 100%;
    height: 100vh;
}

.slider-h-85 {
    width: 100%;
    height: 85vh;
}

.slider-h-75 {
    width: 100%;
    height: 75vh;
}

.slider-h-70 {
    width: 100%;
    height: 70vh;
}

.slider-h-65 {
    width: 100%;
    height: 65vh;
}

.slider-h-60 {
    width: 100%;
    height: 60vh;
}

.slider-h-50 {
    width: 100%;
    height: 50vh;
}

.slider-h-25 {
    width: 100%;
    height: 25vh;
}

.slider-h-auto {
    width: 100%;
    height: auto;
}

.slider-mid {
    overflow: inherit;
    padding: 0 15px;
}

.full-slider {
    cursor: w-resize;
}

.full-slider .inner,
.no-slider .inner {
    top: 1rem;
    max-width: 1140px;
    padding: 0;
    margin: auto;
}

.no-slider.slider-h-75 .inner {
    top: 10px;
}

.full-slider .inner .center,
.no-slider .inner .center {    
    width: 100%;
    padding: 2rem 0;
}

.full-slider .inner .left,
.no-slider .inner .left {
    width: 60%;
    padding: 2rem 0;
}

.full-slider.featured .inner .left:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 5%;
    width: 45%;
    height: 95%;
    border-top: 4px solid;
    border-right: 4px solid;
    transform: rotate(-15deg);
    border-image: -webkit-linear-gradient(to right, transparent 55%, var(--primary-color) 55%, var(--primary-color) 100%) 30;
    border-image: linear-gradient(to right, transparent 55%, var(--primary-color) 55%, var(--primary-color) 100%) 30;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
    opacity: 0;
}

.full-slider.featured .inner .left:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 5%;
    width: 45%;
    height: 95%;
    border-left: 4px solid;
    border-bottom: 4px solid;
    transform: rotate(-15deg);
    border-image: -webkit-linear-gradient(to bottom, transparent 83%, var(--primary-color) 83%, var(--primary-color) 100%) 30;
    border-image: linear-gradient(to bottom, transparent 83%, var(--primary-color) 83%, var(--primary-color) 100%) 30;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
    opacity: 0;
}

.full-slider .inner .left.off:before,
.full-slider .inner .left.off:after {
    content: none;
}

.full-slider .inner .left.init:before,
.full-slider .inner .left.init:after {
    opacity: 1;
}

.full-slider .inner .right,
.no-slider .inner .right {
    width: 50%;
}

.full-slider .inner .right img,
.no-slider .inner .right img {
    max-height: 395px;
    display: block;
    margin-left: auto;
}

.full-slider .inner .right .hero-image,
.no-slider .inner .right .hero-image {
    position: absolute;
    right: 10%;
    top: 65px;
    width: auto;
    height: 85%;
    transform: scale(1.4);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.full-slider .inner .right .hero-image:hover,
.no-slider .inner .right .hero-image:hover {
    transform: scale(1.5);
}

.full-slider .slide-content .center .description,
.no-slider .slide-content .center .description {
    max-width: 900px;
    font-size: 1.5rem;
}

.full-slider .slide-content .left .description,
.no-slider .slide-content .left .description {
    max-width: 500px;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.full-slider .swiper-button-next {
    right: 1.5rem;
}

.full-slider .swiper-button-prev {
    left: 1.5rem;
}

.full-slider .swiper-button-next:focus,
.full-slider .swiper-button-prev:focus {
    outline: none;
}

.full-slider .swiper-button-next,
.full-slider .swiper-button-prev {
    top: calc(50% + 60px);
    background-color: var(--translucent-bg-color);
    padding: 2rem 1.5rem;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.full-slider .swiper-button-next:hover,
.full-slider .swiper-button-prev:hover {
    background-color: var(--translucent-bg-color);
}

.full-slider .swiper-button-next:after,
.full-slider .swiper-button-prev:after {
    font-size: 3rem;
}

.slide-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide-content {
    position: relative;
    z-index: 1;
    width: 100%;
}

.swiper-slide .aos-animate {
    display: none;
}

.swiper-slide.swiper-slide-active .aos-animate {
    display: block;
}

.swiper-slide .fit-image.aos-init {
    opacity: 1;
}

.swiper-slide .fit-image.aos-animate {
    visibility: hidden;
    display: block;
}

.swiper-slide.swiper-slide-active .fit-image.aos-animate {
    visibility: visible;
    display: block;
    transform: translateZ(0) scale(1.2);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 3s;
    transition-property: opacity, transform;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    top: 30px;
    position: relative;
}

.full-slider.swiper-container-horizontal > .swiper-pagination-bullets {
    position: absolute;
    top: initial;
    bottom: 3.2rem !important;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 5px;
    border-radius: 0;
    background-color: var(--primary-p-color);
    border: none;
    opacity: 0.25;
}

.swiper-pagination-bullet:hover {
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    opacity: 1;
}

.swiper-pagination-bullet-active:hover {
    background-color: var(--primary-color);
}

.pagination {
    width: fit-content;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.pagination .page-item:focus {
    outline: none;
    box-shadow: none;
}

.pagination .page-item .page-link {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    background-color: var(--primary-bg-color);
    border-radius: 2px;
    border: 1px solid;
    border-color: var(--primary-bg-color-2);
    color: var(--primary-t-color);
}

.odd .pagination .page-item .page-link {
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-bg-color-2);
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.odd .pagination .page-item.active .page-link {
    background-color: var(--secondary-bg-color);
}

.pagination .page-item .page-link:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-bg-color);
}

.odd .pagination .page-item .page-link:hover {
    color: var(--secondary-bg-color);
}

.pagination .page-item .page-link:focus {
    outline: none;
    box-shadow: none;
}

/* #endregion Slider */

/*----------------------------------------------
7. Feature
----------------------------------------------*/

/* #region Feature */

.icon  {
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 44px;
    display: block;
    margin: auto;
}

.icon.smaller {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
}

.icon.bigger {
    width: 7rem;
    height: 7rem;
    margin: 0;
    font-size: 6.5rem;
    line-height: 7rem;
    font-weight: bold;
}

.icon.circle {
    border-radius: 100px;
    font-size: 28px;
}

.card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 35px;
    border: none;
    border-radius: 2px;
    background-color: var(--card-bg-color);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
}

.card.no-hover {
    box-shadow: none;
}

.odd:not(.custom) .card:not(.no-hover):not(:hover) {
    background-color: var(--dark-grey-color);
}

.card p {
    margin-top: 0;
}

.card-img-top {
    border-radius: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 30px;
}

.card-body h3, .card-body h4, .card-body h5, .card-body h6 {
    margin-top: 0;
}

.card-footer {
    border-radius: 0;
    background: none;
    padding: 30px 0;
    margin: 0 30px;
    border-top: 1px solid var(--primary-l-color);
}

.card-footer a {
    margin: 0 10px;
}

.card-footer a:not(.btn) {
    color: var(--primary-p-color);
}

.card-footer i {
    margin: 0 5px 2.5px;
}

.card.simple {
    box-shadow: none;
    background: none;
    padding: 0 2rem;
}

.card.simple:hover {
    background: none;
}

.card:not(.no-hover):hover {
    background: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    transform: translateY(-7.5px);
}

.items .item:first-child .card.featured:hover:before, .items .item:last-child .card.featured:hover:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card:not(.no-hover):hover:before,
.card:not(.no-hover):hover:after {
    opacity: 0;
}

.card:hover .image-person img {
    transform: scale(1.1);
}

.card:not(.no-hover):hover h3,
.card:not(.no-hover):hover h4,
.card:not(.no-hover):hover p {
    color: #f5f5f5;
}

.card:not(.no-hover):hover span {
    color: #f5f5f5;
    -webkit-text-fill-color: #f5f5f5;
}

.card:not(.no-hover):hover a {
    color: #f5f5f5;
    -webkit-text-fill-color: #f5f5f5;
}

.card:not(.no-hover):hover i {
    color: #f5f5f5;
    -webkit-text-fill-color: #f5f5f5;
}

.card:not(.no-hover):hover .icon {
    background-color: transparent;
    color: #f5f5f5;
    -webkit-text-fill-color: #f5f5f5;
}

.card:hover .btn-icon {
    color: #f5f5f5;
}

.card:hover .card-footer {
    color: #f5f5f5;
    border-color: rgba(255, 255, 255, 0.25);
}

.card:hover .share-list i {
    color: #f5f5f5;
}

.card.featured:before {
    position: absolute;
    z-index: -1;
    content: '';
    width: calc(50% + 10px);
    height: calc(50% + 10px);
    border: none;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
}

.items .item:first-child .card.featured:before {
    top: -10px;
    right: 0;
    bottom: 0;
    left: -10px;
}

.items .item:last-child .card.featured:before {
    right: -10px;
    bottom: -10px;
}

.card.featured:after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    background-color: var(--card-bg-color);
}

.odd:not(.custom) .card.featured:after {
    background-color: var(--dark-grey-color);
}

.card.featured:hover:after {
    background-color: none;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
}

.badge {
    font-weight: 500;
}

.badge.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
}

.badge.tag {
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-p-color);
    border: 1px solid var(--primary-l-color);
}

.badge.tag.active {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.breadcrumb {
    margin: 0;
    background: none;
    justify-content: center;
    color: inherit;
}

.breadcrumb-item {
    font-size: 1rem;
    font-weight: 400;
}

.breadcrumb-item a:not(.btn) {
    color: inherit;
}

.breadcrumb-item a:hover {
    color: var(--primary-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    font-weight: 400;
}

.breadcrumb-item.active {
    color: var(--primary-color);
}

.breadcrumb-item.active:hover {
    color: var(--primary-color);
}

.share-list {
    margin: 0.5rem 0 0 0;
    display: -webkit-inline-box;
}

.share-list .nav-link i {
    margin: 0 1rem;
    font-size: 22px;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.share-list li:first-child i {
    margin-left: 0;
}

.image-over {
    overflow: hidden;
}

.image-person img {
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
}

.person {
    width: 100%;
    max-width: 100px;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.square-image {
    max-width: 900px;
    margin: auto;
}

.square-image .icon {
    position: absolute;
    z-index: 1;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

.square-image img {
    opacity: 0.75;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

.square-image:hover img {
    opacity: 0.5;
    filter: none;
}

.square-image:hover .icon {
    transform: scale(1.2);
}

.mask-radius {
    content: '';
    position: absolute;
    z-index: 1;
    right: 15px;
    bottom: 0;
    width: 58%;
    height: 58%;
    background-color: var(--translucent-bg-color);
    border-radius: 100% 0 0 0;
    border-right: 4px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}

.play-video {position: absolute;
    z-index: 2;
    right: 15%;
    bottom: 15%;
    padding: 1.75rem 1.5rem 1.75rem 2rem;
    border-radius: 100%;
    font-size: 3rem;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 55%);
    background-size: 200% auto;
    color: var(--primary-b-color);
}

.mask {
    opacity: 0.25;
}

.full-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-image {
    position: absolute;
    right: 10%;
    bottom: 0;
    width: auto;
    height: 85%;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fit-image.w-85 {
    width: 85%;
}

.fit-image.top {
    object-position: top;
}

.fit-image.bottom {
    object-position: bottom;
}

.btn {
    width: fit-content;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem 1.25rem;
    border-width: 0;
    border-radius: 2px;
}

.btn.w-100 {
    max-width: 100%;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus,
.btn:hover, .btn:focus {
    outline: none;
    box-shadow: none;
}

.btn i {
    margin-right: 0.5rem;
}

.btn i.left {
    margin-right: 0;
    margin-left: 0.5rem;
}

.btn-icon {
    position: relative;
    bottom: -5px;
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-p-color);
}

/* #endregion Feature */

/*----------------------------------------------
8. Form and Field
----------------------------------------------*/

/* #region Form and Field */

.form-control {
    width: 100%;
    height: 43.48px;
    background: no-repeat;
    box-shadow: none;
    padding: 0.7rem 1rem;
    border-color: var(--primary-l-color);
    border-width: 1px;
    border-radius: 2px;
}

.odd .form-control {
    border-color: var(--secondary-l-color);
    color: var(--secondary-t-color);
}

.form-control:focus {
    background: no-repeat;
    color: inherit;
    outline: none;
    border-color: inherit;
    box-shadow: none;
}

.form-control.valid {
    border-color: var(--valid-color);
}

.form-control.invalid {
    border-color: var(--invalid-color);
}

.input-group {
    margin: 10px 0;
}

.input-group .icon-arrow-down {
    position: absolute;
    top: calc(50% - 8px);
    right: 18px;
    color: var(--primary-t-color);
}

/* #endregion Form and Field */

/*----------------------------------------------
8.1 Multi-Step Form
----------------------------------------------*/

/* #region Multi-Step Form */

#msform fieldset {
    width: 100%;
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input {
    width: 100%;
}

#msform textarea {
    width: 100%;
    min-height: 170px;
}

#progressbar {
    margin-bottom: 50px;
    padding: 0;
    overflow: hidden;
    counter-reset: step;
}

#progressbar:after {
    content: '';
    width: 100%;
    height: 6px;
    background-color: var(--primary-bg-color-3);
    position: absolute;
    right: 0;
    top: 17px;
    z-index: 0;
}

.odd #progressbar:after {
    background-color: var(--secondary-bg-color-3);
}

#progressbar.complete:after {
    background: linear-gradient(to right, var(--primary-color) 20%, var(--secondary-color) 40%, var(--secondary-color) 60%, var(--primary-color) 80%);
    background-size: 200% auto;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: linear-gradient(to right, var(--primary-color) 20%, var(--secondary-color) 40%, var(--secondary-color) 60%, var(--primary-color) 80%);
    background-size: 200% auto;
    -webkit-animation: effect 1s linear infinite;
    animation: effect 1s linear infinite;
    color: var(--primary-bg-color);
}

.odd #progressbar li.active:before, #progressbar li.active:after {
    color: var(--secondary-bg-color);
}

#progressbar li {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    width: 33.3333%;
    float: left;
    position: relative;
    color: var(--primary-t-color);
}

.odd #progressbar li {
    color: var(--secondary-t-color);
}

#progressbar li:before {
    position: relative;
    z-index: 2;
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-t-color);
    background-color: var(--primary-bg-color-3);
    border-radius: 100px;
    margin: 0 auto 10px auto;
}

.odd #progressbar li:before {
    color: var(--secondary-t-color);
    background-color: var(--secondary-bg-color-3);
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 6px;
    background-color: var(--primary-bg-color-3);
    position: absolute;
    left: -50%;
    top: 17px;
    z-index: 1;
}

.odd #progressbar li:after {
    background-color: var(--secondary-bg-color-3);
}

/* #endregion Multi-Step Form */

/*----------------------------------------------
9. List
----------------------------------------------*/

/* #region List */

.list-group-item {
    background: none;
    font-size: 1rem;
    padding-right: 0;
    padding-left: 0;
    border-color: var(--primary-l-color);
}

.odd .list-group-item {
    border-color: var(--secondary-l-color);;
}

.list-group-item a:hover {
    color: var(--primary-color);
}

.list-group-item img {
    width: 65px;
    height: 65px;
    display: block;
    margin-right: 50px;
    border-radius: 4px;
    background-color: var(--primary-bg-color-3);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.odd .list-group-item img {
    background-color: var(--secondary-bg-color-3);
}

.list-group-item a:not(.btn) {
    color: inherit;
}

.list-group-item .icon {
    font-size: 34px;
    text-align: left;
}

/* #endregion List */

/*----------------------------------------------
10. Gallery
----------------------------------------------*/

/* #region Gallery */

.gallery .item:not(:last-child) {
    margin-bottom: 30px;
}

.gallery img {
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.gallery .fit-image {
    width: 100%;
    height: 100%;
}

.gallery img:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gallery a:hover img {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.gallery.featured {
    transform: scale(1);
}

.gallery.featured a:first-child:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -15px;
    width: 90%;
    height: 90%;
    border: 4px solid;
    border-color: var(--primary-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

.gallery.featured a:last-child:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: -15px;
    bottom: 0;
    width: 90%;
    height: 90%;
    border: 4px solid;
    border-color: var(--primary-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

/* #endregion Gallery */

/*----------------------------------------------
11. Footer
----------------------------------------------*/

/* #region Footer */

footer .brand .logo {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 0.8;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .brand a:hover {
    text-decoration: none;
}

footer .contacts {
    position: relative;
    top: 2.5rem;
    left: 2.5rem;
}

footer .contacts .nav-item {
    position: relative;
    z-index: 1;
}

footer .contacts:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -40px;
    right: 40px;
    width: 100%;
    height: 165%;
    border-top: 4px solid;
    border-right: 4px solid;
    border-color: var(--primary-t-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

footer .contacts:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: -40px;
    right: 40px;
    width: 100%;
    height: 165%;
    border-left: 4px solid;
    border-bottom: 4px solid;
    border-color: var(--primary-t-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

footer .contacts:hover:before,
footer .contacts:hover:after {
    border-color: var(--primary-color);
}

footer .contacts li {
    font-size: 1.2rem;
}

footer .nav-item .nav-link {
    font-weight: 400;
    line-height: 1.4;
    color: inherit;
}

footer .nav-item .nav-link:hover {
    color: var(--primary-color);
    outline: none;
}

footer .copyright p {
    opacity: 0.5;
    font-size: 14px;
    line-height: 1.8;
}

/* #endregion Footer */

/*----------------------------------------------
12. Modal
----------------------------------------------*/

/* #region Modal */

.modal-open {
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%, 0)scale(1);
    transform: translate(100%, 0)scale(1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    align-items: start;
    -webkit-box-align: start;
    height: 100%;
}

.modal-content {
    border: none;
    border-radius: 0;
    overflow-x: hidden;
    background-color: var(--primary-bg-color-2);
}

.odd .modal-content {
    background-color: var(--secondary-bg-color-2);
}

.modal-content.full {
    height: 100%;
}

.modal-header {
    align-items: center;
    padding: 25px 25px 0;
    border: none;
    font-weight: 600;
    color: var(--primary-t-color);
    border-radius: 0;
}

.odd .modal-header {
    color: var(--secondary-t-color);
}

.modal-header .modal-title {
    line-height: 0;
}

.modal-header .icon-close {
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    width: calc(100% + 2px);
    display: flex;
    align-items: center;
    padding: 25px 25px 50px;
}

/* #endregion Modal */

/*----------------------------------------------
13. Miscellaneous
----------------------------------------------*/

/* #region Miscellaneous */

.scroll-to-top {
    display: none;
    position: fixed;
    z-index: 5;
    right: 25px;
    bottom: 25px;
    opacity: 0.75;
    transition-timing-function: ease;
    transition-duration: .4s;
    transition-property: opacity, transform;
}

.scroll-to-top:hover {
    opacity: 1;
}

.scroll-to-top i {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 22px;
    background-color: var(--primary-bg-color-2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.odd.scroll-to-top i {
    background-color: var(--secondary-bg-color-2);
}

.scroll-to-top i:hover,
.scroll-to-top i:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* #endregion Miscellaneous */

/*----------------------------------------------
14. Keyframe
----------------------------------------------*/

/* #region Keyframe */

@-webkit-keyframes effect {
    to {
        background-position: -200% center;
    }
}

@keyframes effect {
    to {
        background-position: -200% center;
    }
}

/* #endregion Keyframe */

/*----------------------------------------------
15. All Media Queries
----------------------------------------------*/

/* #region All Media Queries */

@media(max-width: 1199px) {

    /* #region Header */

    body header .navbar-expand .navbar-nav.toggle {
        display: flex;
    }

    body header .navbar-expand .navbar-nav.contacts,
    body header .navbar-expand .navbar-nav.items ,
    body header .navbar-expand .navbar-nav.icons .social {
        display: none;
    }

    /* #endregion Header */

    /* #region Slider */

    body .full-slider.featured .inner .left:before,
    body .full-slider.featured .inner .left:after,
    body .no-slider.featured .inner .left:before,
    body .no-slider.featured .inner .left:after {
        content: none;
    }

    body .full-slider .inner .right img,
    body .no-slider .inner .right img {
        max-height: 300px;
    }

    body .full-slider .inner button {
        margin: auto;
    }

    body .full-slider .swiper-button-next {
        right: 0;
        padding: 1.5rem 1rem;
    }

    body .full-slider .swiper-button-prev {
        left: 0;
        padding: 1.5rem 1rem;
    }

    body .full-slider .swiper-button-next:after,
    body .full-slider .swiper-button-prev:after {
        font-size: 2rem;
    }

    body .full-slider .inner, body .no-slider .inner {
        padding: 0 20px;
    }

    /* #endregion Slider */

    /* #region Section */

    body .container {
        padding: 0 10px;
        max-width: 100%;
    }

    body .container .card.featured:before {
        content: none;
    }

    /* #endregion Section */

    /* #region Feature */   
    
    body .card-footer {
        margin: 0;
    }

    body .play-video {
        right: 40px;
        bottom: 30px;
        font-size: 2.5rem;
    }

    /* #endregion Feature */

    /* #region Gallery */

    body .gallery.featured a:first-child:before,
    body .gallery.featured a:last-child:before {
        content: none;
    }

    /* #endregion Gallery */
}

@media(max-width: 991px) {

    /* #region General */

    body h1 {
        font-size: 4rem;
    }

    body h2 {
        font-size: 2.5rem;
    }

    /* #endregion General */

    /* #region Slider */

    body .slider-h-100 {
        height: calc(100vh - 50px);
    }

    body .slider-h-100.alt {
        height: calc(85vh - 50px);
    }

    body .full-slider .inner .right,
    body .no-slider .inner .right {
        display: none;
    }

    /* #endregion Slider */

    /* #region Section */

    body aside {
        margin-top: 60px;
    }

    /* #endregion Section */
}

@media(max-width: 767px) {

    /* #region General */

    body h1 {
        font-size: 3.5rem;
    }

    body h2.featured:before {
        content: none;
    }
    
    /* #endregion General */

    /* #region Helper Class */
    
    .intro .btn {
        margin-top: 30px;
    }

    body .highlights:not(.left) .intro {
        margin-top: 50px;
    }

    body .highlights:not(.right) .items .item:last-child {
        margin-bottom: 50px;
    }

    body .highlights .items .item .icon {
        margin-bottom: 15px;
    }

    .offers .items .item:not(:nth-last-child(-n+3)) {
        margin-bottom: 0;
    }

    .offers .items .item:not(:nth-last-child(-n+1)) {
        margin-bottom: 30px;
    }

    body .plans .items .item:nth-child(1),
    body .plans .items .item:nth-child(2) {
        margin-bottom: 30px;
    }

    /* #endregion Helper Class

    /* #region Header */

    body header .navbar-expand .navbar-nav.action .btn {
        padding: 5px 10px;
        font-size: 0;
    }

    body header .navbar-expand .navbar-nav.action .btn i {
        font-size: initial;
        margin: 0;
    }

    body .navbar-brand {
        margin: 0;
    }

    /* #endregion Header */

    /* #region Slider */    

    body .full-slider .slide-content .inner .description, 
    body .no-slider .slide-content .inner .description {
        font-size: 1.2rem;
    }

    body .full-slider .slide-content .inner .left, 
    body .no-slider .slide-content .inner .left {
        width: 100%;
    }

    body .full-slider .slide-content .inner .left .description, 
    body .no-slider .slide-content .inner .left .description {
        display: none;
    }

    body .full-slider .slide-content .inner .left a.btn-primary-color:after,
    body .no-slider .slide-content .inner .left button.btn-primary-color:after {
        content: none;
    }

    body .full-slider .hero-image,
    body .no-slider .hero-image {
        filter: grayscale(1);
        right: initial;
    }

    body .full-slider .hero-image.alt,
    body .no-slider .hero-image.alt {
        top: 22%;
    }

    body .full-slider .inner .right .hero-image,
    body .no-slider .inner .right .hero-image {
        right: initial;
        width: auto;
        height: 82vh;
    }

    /* #endregion Slider */

    /* #region Section */

    body section {
        padding: 90px 0;
    }

    body section.bg-image-1,
    body section.bg-image-2 {
        background-image: none;
    }

    body section.featured:after {
        height: 60px;
        bottom: -30px;
    }

    /* #endregion Section */

    /* #region List */

    body .list-group-item img {
        margin-right: 90px;
    }

    /* #endregion List */

    /* #region Features */

    body .icon.bigger {
        width: 5rem;
        height: 5rem;
        margin: 0;
        font-size: 4.5rem;
        line-height: 5rem;
        font-weight: bold;
    }

    body .previous, body .next, body .send {
        width: calc(50% - 12px);
    }

    /* #endregion Features */

    /* #region Footer */

    body footer .contacts {
        left: 0;
    }

    body footer .contacts {
        margin-bottom: 30px;
    }

    body footer .contacts:after {
        left: 0;
        width: 100%;
    }

    body footer .contacts:before {
        left: 0;
        width: 100%;
    }

    /* #endregion Footer */
}

@media(max-width: 374px) {

    /* #region General */

    body h1 {
        font-size: 3rem;
    }
    
    /* #endregion General */

    /* #region Header */

    body .menu .nav-link,
    body .menu .dropdown .dropdown-menu .nav-link {
        font-size: 13px;
    }

    /* #endregion Header */
}

/* #endregion All Media Queries */