

/** service-style-two **/

.service-style-two{
    position: relative;
    padding: 100px 0px 90px 0px;
  }
  
  .service-block-two{
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
  }
  
  .service-block-two .inner-box{
    position: relative;
    display: block;
    text-align: center;
    max-width: 340px;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    padding: 37px 30px 25px 30px;
    box-shadow: 0 10px 20px rgba(54, 208, 249, 0.5);
    transition: all 500ms ease;
  }
  
  .service-block-two .inner-box:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
  }
  
  .service-style-two .content-column:first-child .service-block-two:last-child .inner-box{
    box-shadow: 0 10px 20px rgba(246, 117, 38, 0.5);
  }
  
  .service-style-two .content-column:last-child .service-block-two:first-child .inner-box{
    box-shadow: 0 10px 20px rgba(8, 60, 167, 0.5);
  }
  
  .service-style-two .content-column:last-child .service-block-two:last-child .inner-box{
    box-shadow: 0 10px 20px rgba(250, 91, 157, 0.5);
  }
  
  .service-block-two .inner-box:before{
    position: absolute;
    content: '';
    background: #fff;
    width: 100%;
    height: 0%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    transition: all 500ms ease;
  }
  
  .service-block-two .inner-box:hover:before{
    height: 100%;
    top: 0px;
  }
  
  .service-block-two .inner-box:hover{
    padding-bottom: 65px;
    margin-bottom: -40px;
  }
  
  .service-block-two .inner-box .icon-box{
    position: relative;
    min-height: 55px;
    margin-bottom: 9px;
  }
  
  .service-block-two .inner-box .icon-box img{
    width: auto;
    transition: all 500ms ease;
  }
  
  .service-block-two .inner-box:hover .icon-box img{
    transform: scale(1.05);
  }
  
  .service-block-two .inner-box h3{
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 11px;
    transition: all 500ms ease;
  }
  
  .service-block-two .inner-box h3 a{
    color: #fff;
  }
  
  .service-block-two .inner-box:hover h3,
  .service-block-two .inner-box:hover h3 a{
    color: #161616;
  }
  
  .service-block-two .inner-box:hover .text p{
    color: #444444;
  }
  
  .service-block-two .inner-box .text{
    position: relative;
    margin-bottom: 10px;
  }
  
  .service-block-two .inner-box .text p{
    font-size: 15px;
    line-height: 26px;
    color: #fff;
    transition: all 500ms ease;
  }
  
  .service-block-two .inner-box .link a{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #444444;
  }
  
  .service-block-two .inner-box:hover .link a{
    top: 10px;
  }
  
  .service-block-two .inner-box .link i{
    position: relative;
    top: 1px;
    margin-left: 8px;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .service-block-two .inner-box .link{
    position: relative;
  }
  
  .service-block-two .inner-box .link a:hover{
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .service-block-two .inner-box h3 a:hover{
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .service-block-two .inner-box .pattern-layer{
    position: absolute;
    left: -20px;
    top: -120px;
    width: 290px;
    height: 240px;
    background-repeat: no-repeat;
    -webkit-animation: zoom-fade 3s infinite linear;
    animation: zoom-fade 3s infinite linear;
  }
  
  .featured-section .service-block:nth-child(2) .inner-box{
    box-shadow: 0 10px 20px rgba(8, 60, 167, 0.5);
  }
  
  .featured-section .service-block:last-child .inner-box{
    box-shadow: 0 10px 20px rgba(246, 117, 38, 0.5);
  }
  
  .service-style-two .inner-content{
    position: relative;
  }
  
  .service-style-two .inner-content .bg-layer{
    position: absolute;
    width: 100%;
    height: 690px;
    left: 0px;
    top: 10px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .service-style-two .image-box{
    position: relative;
    display: block;
    text-align: center;
    margin: 0px -75px;
  }
  
  .service-style-two .image-box .dotted-box{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
  }
  
  .service-style-two .image-box .dotted-box .dotted{
    position: absolute;
    border-radius: 50%;
  }
  
  .service-style-two .image-box .dotted-box .dotted-1{
    width: 25px;
    height: 25px;
    left: 130px;
    bottom: 185px;
  }
  
  .service-style-two .image-box .dotted-box .dotted-2{
    right: 180px;
    bottom: 215px;
    width: 16px;
    height: 16px;
  }
  
  .service-style-two .image-box .dotted-box .dotted-3{
    right: 135px;
    bottom: 185px;
    width: 30px;
    height: 30px;
  }
  
  .service-style-two .image-box .dotted-box .dotted-4{
    right: 180px;
    bottom: 155px;
    width: 10px;
    height: 10px;
  }
  
  .service-style-two .image-box img{
    width: 100%;
  }
  
  .service-style-two .sec-title{
    margin-bottom: 20px;
  }
  
  .service-style-two .content-column:first-child{
    padding-top: 150px;
  }
  
  .service-style-two .content-column:last-child{
    padding-top: 75px;
  }
  
  .service-style-two .content-column:first-child .service-block-two:first-child{
    margin-left: 50px;
  }
  
  .service-style-two .content-column:last-child .service-block-two:last-child{
    margin-left: 30px;
  }
  
  .service-style-two .content-column:last-child .service-block-two:first-child{
    left: -20px;
  }
  
  .service-style-two .bubble-box .bubble-1{
    width: 203px;
    height: 203px;
    left: 280px;
    top: 160px;
    background-repeat: no-repeat;
    -webkit-animation: zoom-fade 4s infinite linear;
    animation: zoom-fade 4s infinite linear;
  }
  
  .service-style-two .bubble-box .bubble-2{
    width: 167px;
    height: 167px;
    right: 110px;
    bottom: 250px;
    background-repeat: no-repeat;
    -webkit-animation: zoom-fade 3s infinite linear;
    animation: zoom-fade 3s infinite linear;
  }
  
  