/*----------------------------------------------

* Author   : DINESH M
* Support  : dnshko@gmail.com
* 
----------------------------------------------*/


/*----------------------------------------------

[ALL CONTENTS]

1. Root

----------------------------------------------*/

/*----------------------------------------------
1. Root
----------------------------------------------*/

/* #region Root */

:root {
    
    --primary-color: #5900ff;
    --secondary-color: #8340ff;
    --translucent-bg-color: rgba(89, 0, 255, 0.15);
}

/* #endregion Root */